body{
    text-align:center;
    background: #222222;
}

.centre{
    text-align:center;
}

h1{
    color: white;
    font-family: "monospace";
}

.table-div{
    margin-top:20px;
    display:flex;
    justify-content:center;
}

.table{
    color:white;

}